<link href="css/ws10.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss />
<div class="vfes-ms-content" id="prueba" style="visibility: hidden;opacity: 0">
	<!-- HERO  -->
	<div class="ws10-o-wrapper">
		<section class="ws10-c-hero-carousel" data-ws10-js="hero-carousel">
			<div class="ws10-c-hero-carousel__w-slides">
				<div class="ws10-c-hero-carousel__slide" id="hero-carousel-slide-1">
					<div class="slide__content">
						<div>
							<p class="ws10-u-heading--3">Móvil + Fibra +TV con datos ilimitados al 50% dto. 6 meses</p>
							<button type="button" name="cta" title="CTA" class="ws10-c-button" data-analytics-element=""
								data-analytics-category="cta">
								Primary button
							</button>
						</div>
						<div>
							<img src="img/hero/hero-slide2.jpg" alt="" class="">
						</div>
					</div>
				</div>
				<div class="ws10-c-hero-carousel__slide" id="hero-carousel-slide-2">
					Slide 2
				</div>
				<div class="ws10-c-hero-carousel__slide" id="hero-carousel-slide-3">
					Slide 3
				</div>
				<div class="ws10-c-hero-carousel__slide" id="hero-carousel-slide-4">
					Slide 4
				</div>
			</div>
			<div class="ws10-c-hero-carousel__w-controls">
				<div class="ws10-o-wrapper">
					<ul class="ws10-c-hero-carousel__controls">
						<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--step">
							<button
								class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--step ws10-c-hero-carousel__control--step-prev"
								data-ws10-js-hero-carousel-control-step-direction="left">
								<span class="ws10-c-hero-carousel__control-txt">
									Anterior
								</span>
							</button>
						</li>
						<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--slide">
							<a class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--slide"
								data-ws10-js-hero-carousel-control-slide href="#hero-carousel-slide-1">
								<span class="ws10-c-hero-carousel__control-txt">
									Lorem ipsum dolor sit amet
								</span>
							</a>
						</li>
						<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--slide">
							<a class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--slide"
								data-ws10-js-hero-carousel-control-slide href="#hero-carousel-slide-2">
								<span class="ws10-c-hero-carousel__control-txt">
									Lorem ipsum dolor sit amet
								</span>
							</a>
						</li>
						<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--slide">
							<a class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--slide"
								data-ws10-js-hero-carousel-control-slide href="#hero-carousel-slide-3">
								<span class="ws10-c-hero-carousel__control-txt">
									Lorem ipsum dolor sit amet
								</span>
							</a>
						</li>
						<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--slide">
							<a class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--slide"
								data-ws10-js-hero-carousel-control-slide href="#hero-carousel-slide-4">
								<span class="ws10-c-hero-carousel__control-txt">
									Lorem ipsum dolor sit amet
								</span>
							</a>
						</li>
						<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--step">
							<button
								class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--step ws10-c-hero-carousel__control--step-next"
								data-ws10-js-hero-carousel-control-step-direction="right">
								<span class="ws10-c-hero-carousel__control-txt">
									Siguiente
								</span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
	<div class="ws10-c-quick-links">
		<div class="ws10-o-wrapper">
			<ul class="ws10-c-quick-links__list">
				<li class="ws10-c-quick-links__list-item">
					<a href="#" title="" class="ws10-c-quick-links__list-link" target="_self">
						<svg class="ws10-c-quick-links__icon" xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-5G_esp-mid"></use>
						</svg>
						<p class="ws10-c-quick-links__text">Tab Title</p>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="#" title="" class="ws10-c-quick-links__list-link" target="_self">
						<svg class="ws10-c-quick-links__icon" xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-5G_esp-mid"></use>
						</svg>
						<p class="ws10-c-quick-links__text">Tab Title</p>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="#" title="" class="ws10-c-quick-links__list-link" target="_self">
						<svg class="ws10-c-quick-links__icon" xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-5G_esp-mid"></use>
						</svg>
						<p class="ws10-c-quick-links__text">Tab Title</p>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="#" title="" class="ws10-c-quick-links__list-link" target="_self">
						<svg class="ws10-c-quick-links__icon" xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-5G_esp-mid"></use>
						</svg>
						<p class="ws10-c-quick-links__text">Tab Title</p>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="#" title="" class="ws10-c-quick-links__list-link" target="_self">
						<svg class="ws10-c-quick-links__icon" xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-5G_esp-mid"></use>
						</svg>
						<p class="ws10-c-quick-links__text">Tab Title</p>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="#" title="" class="ws10-c-quick-links__list-link" target="_self">
						<svg class="ws10-c-quick-links__icon" xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-5G_esp-mid"></use>
						</svg>
						<p class="ws10-c-quick-links__text">Tab Title</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
	{{!-- Section Outstandings --}}
	<section class="vfms-outstandings__container">
		<div class="ws10-o-wrapper">
			<div class="ws10-o-wrapper ws10-o-layout">
				<div class="ws10-o-layout__item ws10-u--1/2@tablet ">
					<section class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--large">
						<picture>
							<!--<source media="(min-width: {{breakpoints.desktop}}px)" srcset="{{picLargeDesktop}}">
							<source media="(min-width: {{breakpoints.tablet}}px)" srcset="{{picLargeTablet}}">-->
							<img src="img/destacado1.jpg" alt="imagen contenidos destacados canales HBO España | Amazon Prime Video | Disney Junior | AXN Now" class="ws10-c-cards-discovery-standard__image">
						</picture>
						<h3 class="ws10-c-cards-discovery-standard__title">LLévate las series y pelis del momento dónde quieras. Ahora GRATIS HBO España y más… </h3>
						<p>
							<a class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron"
								href="http://">
								Más info
							</a>
						</p>
					</section>

				</div>

				<div class="ws10-o-layout__item ws10-u--1/2@tablet">

					<section
						class="ws10-u--mb4x ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-hero">
						<div class="ws10-c-cards-discovery-standard__text-content">
							<h3 class="ws10-c-cards-discovery-standard__title">Lorem ipsum dolor sit amet, consect etur
								adipiscing elit</h3>
							<p>
								<a class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron"
									href="http://">
									Learn more
								</a>
							</p>
						</div>
						<div class="ws10-c-cards-discovery-standard__image-holder">
							​<picture>
								<source media="(min-width: {{breakpoints.desktop}}px)" srcset="{{picMediumHeroDesktop}}">
								<source media="(min-width: {{breakpoints.tablet}}px)" srcset="{{picMediumHeroTablet}}">
								<img src="{{picMediumHero}}" alt="" class="ws10-c-cards-discovery-standard__image">
							</picture>
						</div>
					</section>

					<section
						class="ws10-u--mb4x ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard">
						<div class="ws10-c-cards-discovery-standard__text-content">
							<h3 class="ws10-c-cards-discovery-standard__title">Lorem ipsum dolor sit amet, consect etur
								adipiscing elit</h3>
							<p>
								<a class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron"
									href="http://">
									Learn more
								</a>
							</p>
						</div>
						<div class="ws10-c-cards-discovery-standard__image-holder">
							​<picture>
								<source media="(min-width: {{breakpoints.desktop}}px)"
									srcset="{{picMediumStandardDesktop}}">
								<source media="(min-width: {{breakpoints.tablet}}px)" srcset="{{picMediumStandardTablet}}">
								<img src="{{picMediumStandard}}" alt="" class="ws10-c-cards-discovery-standard__image">
							</picture>
						</div>
					</section>
				</div>
			</div>

		</div>
	</section>
	<div class="ws10-o-wrapper">
		<section class="ws10-c-hero-tabs" data-ws10-js='hero-tabs'>
			<ul class="ws10-c-hero-tabs__list" role="tablist" data-ws10-tab="tab-container" data-responsive="20">
				<li class="ws10-c-hero-tabs__list-item" aria-selected="true" role="tab">
					<button class="ws10-c-hero-tabs__tab" data-ws10-selected='true' type="button"
						aria-controls="tab-content1 image1" role="button">Title 1</button>
				</li>
				<li class="ws10-c-hero-tabs__list-item" aria-selected="false" role="tab">
					<button class="ws10-c-hero-tabs__tab" data-ws10-selected='false' type="button"
						aria-controls="tab-content2 image2" role="button">Title 2</button>
				</li>
				<li class="ws10-c-hero-tabs__list-item" aria-selected="false" role="tab">
					<button class="ws10-c-hero-tabs__tab" data-ws10-selected='false' type="button"
						aria-controls="tab-content3 image3" role="button">Title 3</button>
				</li>
				<li class="ws10-c-hero-tabs__list-item" aria-selected="false" role="tab">
					<button class="ws10-c-hero-tabs__tab" data-ws10-selected='false' type="button"
						aria-controls="tab-content4 image4" role="button">Title 4</button>
				</li>
			</ul>

			<picture id="image1" class="ws10-c-hero-tabs__picture" aria-expanded="true" title="Título de imagen 1"
				aria-label="Descripción de la imagen 1" data-ws10-tab="1">
				<source media="(min-width:1024px)" srcset="{{images.img1_desktop}}">
				<source media="(min-width:768px)" srcset="{{images.img1_tablet}}">
				<img class="ws10-c-hero-tabs__picture-img" role="img" src="{{images.img1_mobile}}" alt="imagen 1">
			</picture>
			<picture id="image2" class="ws10-c-hero-tabs__picture" aria-expanded="false" title="Título de imagen 2"
				aria-label="Descripción de la imagen 2" data-ws10-tab="2">
				<source media="(min-width:1024px)" srcset="{{images.img2_desktop}}">
				<source media="(min-width:768px)" srcset="{{images.img2_tablet}}">
				<img class="ws10-c-hero-tabs__picture-img" role="img" src="{{images.img2_mobile}}" alt="imagen 2">
			</picture>
			<picture id="image3" class="ws10-c-hero-tabs__picture" aria-expanded="false" title="Título de imagen 3"
				aria-label="Descripción de la imagen 3" data-ws10-tab="3">
				<source media="(min-width:1024px)" srcset="{{images.img1_desktop}}">
				<source media="(min-width:768px)" srcset="{{images.img1_tablet}}">
				<img class="ws10-c-hero-tabs__picture-img" role="img" src="{{images.img1_mobile}}" alt="imagen 3">
			</picture>
			<picture id="image4" class="ws10-c-hero-tabs__picture" aria-expanded="false" title="Título de imagen 4"
				aria-label="Descripción de la imagen 4" data-ws10-tab="4">
				<source media="(min-width:1024px)" srcset="{{images.img2_desktop}}">
				<source media="(min-width:768px)" srcset="{{images.img2_tablet}}">
				<img class="ws10-c-hero-tabs__picture-img" role="img" src="{{images.img2_mobile}}" alt="imagen 4">
			</picture>

			<div id="tab-content1" class="ws10-c-hero-tabs__content" role="tabpanel" aria-expanded="true"
				data-ws10-tab="1">
				<p class="ws10-c-hero-tabs__content-title">Lorem ipsum dolor 1</p>
				<p class="ws10-c-hero-tabs__content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do
					eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<div class="ws10-c-hero-tabs__content-link">
					<a class="ws10-c-hero-tabs__content-link-text" href="">Discover more</a>
				</div>
			</div>
			<div id="tab-content2" class="ws10-c-hero-tabs__content" role="tabpanel" aria-expanded="false"
				data-ws10-tab="2">
				<p class="ws10-c-hero-tabs__content-title">Lorem ipsum dolor 2</p>
				<p class="ws10-c-hero-tabs__content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do
					eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<div class="ws10-c-hero-tabs__content-link">
					<a class="ws10-c-hero-tabs__content-link-text" href="">Discover more</a>
				</div>
			</div>
			<div id="tab-content3" class="ws10-c-hero-tabs__content" role="tabpanel" aria-expanded="false"
				data-ws10-tab="3">
				<p class="ws10-c-hero-tabs__content-title">Lorem ipsum dolor 3</p>
				<p class="ws10-c-hero-tabs__content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do
					eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<div class="ws10-c-hero-tabs__content-link">
					<a class="ws10-c-hero-tabs__content-link-text" href="">Discover more</a>
				</div>
			</div>
			<div id="tab-content4" class="ws10-c-hero-tabs__content" role="tabpanel" aria-expanded="false"
				data-ws10-tab="4">
				<p class="ws10-c-hero-tabs__content-title">Lorem ipsum dolor 4</p>
				<p class="ws10-c-hero-tabs__content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do
					eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<div class="ws10-c-hero-tabs__content-link">
					<a class="ws10-c-hero-tabs__content-link-text" href="">Discover more</a>
				</div>
			</div>
		</section>


	</div>
	<div class="ws10-o-wrapper">
		<section class="ws10-c-call-to-action-app">
			<div class="ws10-o-wrapper">
				<div class="ws10-c-call-to-action-app__container">
					<p class="ws10-c-call-to-action-app__text">Manage your Vodafone products and services in the easiest
						way</p>
					<div class="ws10-c-call-to-action-app__icons">
						<a href="#" class="ws10-c-call-to-action-app__icon mva10-u--mr5x">
							<img src="{{images.AppStoreLight}}" alt="Botón de la aplicación de Vodafone en App Store">
						</a>
						<a href="#" class="ws10-c-call-to-action-app__icon">
							<img src="{{images.GooglePlayLight}}"
								alt="Botón de la aplicación de Vodafone en Google Play">
						</a>
					</div>
				</div>
			</div>
		</section>


	</div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>