<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content" id="plp" style="visibility: hidden;opacity: 0">
	 <div class="vfms-banner-container">
            {{!-- <!-- SECTION BANNER--> --}}
		<div class="ws10-o-wrapper vfms-banner">
				<div class="ws10-o-layout">
					<div class="ws10-o-layout__item">
						<p class="vfms-title-animation" data-animation-element="category">Móvil + Fibra
						</p>
							<h2 class="ws10-c-hero-element-1__title">
										Por ser cliente Vodafone, este verano te regalamos <strong>datos ilimitados o 3 meses de TIDAL HiFi</strong>
									</h2>
						<h2 class="ws10-c-title vfms-banner-title">

							
							<div class="vfms-title-animation" data-animation-element="1sentence">Los primeros con</div>
							<div data-animation-element="2sentence" class="vfms-title-animation"><span
									class="">datos ilimitados</span> y la</div>
							<div data-animation-element="3sentence" class="vfms-title-animation"> <span
									class="">TV</span> con <span class="vfes-title--bold">más contenidos</span>
							</div>
						</h2>
					</div>
					<div class="vfms-animation ws10-o-layout__item">
						<div class="vfms-animation--element vfms-animation--5" data-animation-element="sello">
							<img src="img/animation/animation-sello.svg" alt="sello mejor precio Vodafone">
						</div>
						<div class="vfms-animation--element vfms-animation--1" data-animation-element="imac">
							<img src="img/animation/animation-imac.png" alt="ordenador imac de mesa" />
						</div>
						<div class="vfms-animation--element vfms-animation--2" data-animation-element="ipad">
							<img src="img/animation/animation-ipad.png" alt="ipad" />
						</div>
						<div class="vfms-animation--element vfms-animation vfms-animation--3"
							data-animation-element="deco">
							<img src="img/animation/animation-deco.png" alt="decodificador tv vodafone" />
						</div>
						<div class="vfms-animation--element vfms-animation--4" data-animation-element="iphone">
							<img src="img/animation/animation-iphone.png" alt="iphone">
						</div>
						<div class="vfms-animation--element vfms-animation--6" data-animation-element="bolo">
							<img src="img/animation/animation-bolo-50.svg"
								alt="Oferta 50% de descuento durante los 6 primeros meses en tarifas ilimitadas">
						</div>
					</div>
				</div>
		</div>
           
        <video class="vfms-video hide--sm" src="media/1440x300.mp4" muted autoplay loop></video>
    </div>
	<div class="ws10-o-wrapper">
		<h2 class="ws10-c-title ws10-u-color--vodafone-red">Hello Vodafone test2!</h2>
		<h3 class="vfes-title">{{title}}</h3>
		<p class="ws10-c-title">La ubicación del fichero JSON: {{url}}</p>
	</div>
	<div class="ws10-o-wrapper">
		<h3 class="ws10-c-title">{{common.title}}</h3>
		<p>La ubicación del fichero JSON: {{common.url}}</p>
		<h4 class="ws10-c-title">Recuerda: </h4>
		<p> Si la clave de tu JSON LOCAL coincide con la clave del JSON Global, priorizará el contenido del JSON local. </p>
		<h4 class="ws10-c-title">Ejemplo</h4>
		<ul>
			<li>{{mismakey}}</li>
		</ul>
	</div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
