<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="multiproducto" style="display: none">
    <div class="vfes-layout__wrapper">
        <h2 class="vfes-title vfes-title--1 vfes-color--vodafone-red">Hello Vodafone multiproducto!</h2>
		<h3 class="vfes-title vfes-title--1 vfes-mb0">{{title}}</h3>
		<p class="vfes-mb-">La ubicación del fichero JSON: {{url}}</p>
	</div>
	<div class="vfes-layout__wrapper">
		<h3 class="vfes-title vfes-title--1 vfes-mb0">{{common.title}}</h3>
		<p class="vfes-mb-">La ubicación del fichero JSON: {{common.url}}</p>
		<h4 class="vfes-title vfes-title--1 vfes-mb0">Recuerda: </h4>
		<p class="vfes-mb-"> Si la clave de tu JSON LOCAL coincide con la clave del JSON Global, priorizará el contenido del JSON local. </p>
		<h4 class="vfes-title vfes-title--1 vfes-mb0">Ejemplo</h4>
		<ul>
			<li>{{mismakey}}</li>
		</ul>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
